name: ML CI Pipeline (MLflow Host Runner)

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10 
          check-latest: false

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: |
          source venv/bin/activate
          python -m pip install --upgrade pip setuptools wheel
          pip install mlflow==2.9.1
          pip install -r MLProject/requirements.txt

      - name: Run MLflow Project
        run: |
          source venv/bin/activate
          mlflow run MLProject --backend local -P csv_path=Hasil_Preprocessing_dan_Labelling.csv
