name: ML CI Pipeline (Docker + MLflow + Conda)

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build --no-cache -t mlflow-conda-project MLProject

      - name: Check MLflow version
        run: docker run --rm mlflow-conda-project mlflow --version

      - name: Run MLflow Project
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            mlflow-conda-project mlflow run /app/MLProject --backend local -P csv_path=/app/Hasil_Preprocessing_dan_Labelling.csv
