name: MLflow CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  mlflow-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install Conda
      uses: goanpeca/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.11
        activate-environment: mlflow_env
        environment-file: MLProject/conda.yaml

    - name: Install MLflow
      run: |
        pip install mlflow

    - name: Run MLflow project
      run: |
        conda activate mlflow_env
        # Hapus mlruns lama supaya run baru fresh dan tidak error Run ID
        rm -rf ./MLProject/mlruns
        mlflow run ./MLProject -P csv_path=Hasil_Preprocessing_dan_Labelling.csv --env-manager local
      shell: bash -l {0}
